*,
*::before,
*::after{
    box-sizing: border-box;
}

/* get local font to the webpage */
@font-face {
    font-family: 'sfy-regular';
    src:url('../../fonts/SF-Pro-Rounded-Regular.otf');
}

/* import font */
:root{
    --clr-dark : #D9D9D9;
    --clr-light : #fff;

    --fs-h1 : 3rem;
    --fs-h2 : 2.25rem;
    --fs-h3 : 1.25rem;
    --fs-body : 1rem;
    --fs-ele : 0.75rem;

    --fw-reg : 300;
    --fw-bold : 900;

    --ff-family : 'sfy-regular', sans-serif;
}

@media (min-width : 800px){
    :root{
        --fs-h1 : 4rem;
        --fs-h2 : 3.75rem;
        --fs-h3 : 1.5rem;
        --fs-body : 1.2rem;
        --fs-ele : 0.8rem
    }
}

/* table adjustment */
table{
    width: 100%;
}

th{
    font-size: small;
    color: gray;
}

td{
    text-align: center;
}


/* ****************************************************************************** */
body{
    margin: 0;
    background: var(--clr-light);
    font-family: var(--ff-family);
    font-size: var(--fs-body);
    line-height: 1.4;
}

/* UPPER SECTION */
.upper__section{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-areas: 
        "two three four"
    ;

    /* background-color: lightblue; */
    margin: 0% 4%;
    margin-bottom: 1%;
}

/* card union property */
.cardd{
    margin: 0% 2%;
    border-radius: 10px;
    padding: 2rem 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #D9D9D9;
}
/* 
.upper__section--buttons{
    grid-area: one; */

    /* background-color: lightcoral */
/* } */

/* .admin--button{
    display: inline-block;
    width: 100%;
    height: 4rem;
    background: black;
    color: white;
    padding: .5em 1.5em;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    border-radius: 5px;

    transition: 500ms;

    margin-bottom: 5px;
    
    font-family: var(--ff-family);
} */

.upper__section--reports{
    grid-area: two;
    /* background-color: lightyellow; */
}

.upper__section--repairlog{
    grid-area: three;
    /* background-color: lightseagreen; */
}

.upper__section--bicycles{
    grid-area: four;
    /* background-color: lightgray; */

}


.upper__section__card--title{
    font-size: var(--fs-h3);
}

/*************************************************************************************************************  */

.lower__section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "lefter righter"
    ;

    margin: 0% 4%;
    
}

/* lower section map card */
#map-layer {
	/* margin: 20px 0px;
	max-width: 600px;
	min-height: 400; */
    border-radius: 10px;
}



.lower_section--statistics{
    background-color: #D9D9D9;
    grid-area: righter;
    margin: 0% 2%;
    border-radius: 10px;
    padding: 2rem 2rem;
    padding-bottom: 2rem;

}


.lower__section__card--title{
    font-size: var(--fs-h3);
}

/* static card */

.static__image{
    height: 26vh;
    background-image: url('http://localhost/Bikable/images/owners/landPageImages/stat.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;

    border-radius: 5px;
}

.static__graph{
    height: 16vh;
    background-image: url('http://localhost/Bikable/images/owners/landPageImages/graph.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;

    border-radius: 5px;
}

/* **************************************************************************************************************** */
/* button adjustment */

.upper__section--buttons{
    background-color: var(--clr-light);
    margin: 0% 2%;
    padding: 0rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 1px; */
}

.btn{
    display: inline-block;
    width: 100%;
    min-height: 3rem;
    background: black;
    color: white;
    padding: 2.5em 1.5em;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    border-radius: 5px;
    transition: 500ms;

    margin-bottom: 5px;
    
    font-family: var(--ff-family);
}

.btn:hover{
    transform: scale(1.09);
}

/* title adjustment */
.lower__section__card--title,
.upper__section__card--title{
    font-weight: var(--fw-bold);
    display: flex;
    width: max-content;
    justify-content: center;
    align-items:center;
    transition: 500ms;

}
.lower__section__card--title:hover,
.upper__section__card--title:hover{
    transform: scale(1.09);
}

/* ***************************************************************************************************** */
/* control imag behaviour */
img{
    display: block;
    max-width: 100%;
}

.title{
    text-decoration: none;
    color: var(--clr-blackDark);
}


/* ***************************************************************************************************** */

/* *********************************************************************************************************** */
/* ///////////////////////////////////  DASHBOARD  //////////////////////////////////////////////////////////// */

.dashboard--header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .7%;
    margin-top: .5%;
    margin-right: 2%;
}

.dashboard__header--title{
    margin-left: 4%;
    font-size: 1.5rem;
}

.dashboard__header--search{
    margin-left: 20%;
    width: 30%;
}

.dashboard__header--searchbox{
    border-color: black;
    outline: none;
    border-radius: 8px;
    font-size: 70%;
    /* font-family: inherit; */
    /* color: white; */
    /* background-color: #7c7c7c7c; */
    padding: 0.5em 1em 0.3em 1.5em;
    width: 80%;
    margin-bottom: 1%;

    background-color: var(--clr-dark);
}

.dashboard__header--search,
.dashboard__header--helpsetting,
.dashboard__user__detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 3rem;
    gap: 1rem;
    margin-right: 2%;
}

/* .imgProperty{
    max-width: 40px;
    border-radius: 50%;
} */

.dashboard__icon{
    max-width: 30px;
    transition: 500ms;
    
}

.searchicon{
    max-width: 20px;
}

.dashboard__icon:hover{
    transform: scale(1.1);
}

/* ***************************************************************************************************************  */
/* ///////////////////////////////////// DROP DOWN FEATURE ///////////////////////////////////////////////////////// */
/* The container <div> - needed to position the dropdown content */
.dashboard__user__dropdown-content{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* padding: 16px; */
    border-radius: 10px;
    transition: opacity 0.5s, visibility 0.5s;
    margin-top: 5rem;
}

.dashboard__user__dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;  
}

/* Change color of dropdown links on hover */
.dashboard__user__dropdown-content a:hover {background-color: #f1f1f1}

.dropdown_area{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown_area:hover .dashboard__user__dropdown-content {
    opacity: 1;
    visibility: visible;
}
