*,
*::before,
*::after{
    box-sizing: border-box;
}

/* get local font to the webpage */
@font-face {
    font-family: 'sfmy-regular';
    src: url('../../fonts/SF-Pro-Rounded-Regular.otf');
}

/* import font */
:root{
    --clr-dark : #D9D9D9;
    --clr-light : #fff;

    --fs-h1 : 3rem;
    --fs-h2 : 2.25rem;
    --fs-h3 : .95rem;
    --fs-body : 1rem;
    --fs-ele : 0.8rem;

    --fw-reg : 300;
    --fw-bold : 900;
    --fw-lightBold : 500;

    --ff-family : 'sfmy-regular', sans-serif;
}

@media (min-width : 800px){
    :root{
        --fs-h1 : 4rem;
        --fs-h2 : 3.75rem;
        --fs-h3 : 1.3rem;
        --fs-body : 1.2rem;
        --fs-ele : 0.9rem
    }
}

body{
    margin: 0;
    background: var(--clr-light);
    font-family: var(--ff-family);
    font-size: var(--fs-body);
    line-height: 1.4;
    display: flex;
    flex-direction: row;
}

/* ***************************************************************************************************************** */
/* //////////////////////// SIDE BAR PRESENTATION //////////////////////////////// */

/* image logo handle */
img{
    display: block;
    max-width: 100%;
}

/* side bar column property */
.sidebar{
    background-color: var(--clr-dark);
    width: 250px;
    height: 100vh;
    border-top-right-radius: 4%;
    border-bottom-right-radius: 4%;

}

.sidebar--logo{
    border-top-right-radius: 5%;
    background-color: var(--clr-dark);
}

/* sidebar--logo div has image and set that image property */
.sidebar--logo--img{
    width: 110px;
    margin-left: 18%;
}

.detail{
    margin: 8%;
    margin-top: 0%;

}

.sidebar__detail{
    font-size: var(--fs-h3);
    padding: 10%;
    padding-top: 0%;
}

.submenu{
    font-size: var(--fs-ele);
    font-weight: var(--fw-reg);
    padding-left: 8%;
    line-height: 1.5rem;
    color: grey;
}


/* ******************************************************************************************************* */
/*///////////////////////////////// BUTTON DECORATION //////////////////////////////////////////////////// */
.btn{
    /* margin-left: 0%; */
    border-color: black;
    border-width: .5px;

    width: 130px;
    height: 45px;
    color: white;
    background: black;
    border-radius: 20px;
    font-weight: var(--fw-bold);
    letter-spacing: 1px;

    transition: 500ms;

    margin-left: 35px;
    padding: 2%;

    font-family: var(--ff-family);
}

.btn_add{
    color: black;
    background-color: var(--clr-light);

}

.btn:hover{
    transform: scale(1.1);
}

/* check box style */
input[type="checkbox"]{
    width: 18px;
    height: 18px;
    margin-bottom: 0%;
    
}

/* .cbox:checked{
    background-color: black;
} */

/* input[type="checkbox"]:after{
    font-family: ;
    font-weight: var(--fw-bold);
    content: "\f00c";
    font-size: 20px;
    color: white;
} */


/* ********************************************************************************************************* */
/* //////////////////////////////////// ADMIN DATA AREA ///////////////////////////////////////////////////// */

.admin_data_area{
    /* margin-top: 3rem; */
    margin-left: 2%;
    width: 100%;
    background-color: var(--clr-light);
}

/* *********************************************************************************************************** */
/* ///////////////////////////////////  DASHBOARD  //////////////////////////////////////////////////////////// */

/* control imag behaviour */
img{
    display: block;
    max-width: 100%;
}


.dashboard--header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .7%;
    margin-top: .5%;
    margin-right: 2%;
}

.dashboard__header--title{
    margin-left: 4%;
    font-size: 1.5rem;
}

.dashboard__header--search{
    margin-left: 20%;
    width: 30%;
}

.dashboard__header--searchbox{
    border-color: black;
    outline: none;
    border-radius: 8px;
    font-size: 70%;
    /* font-family: inherit; */
    /* color: white; */
    /* background-color: #7c7c7c7c; */
    padding: 0.5em 1em 0.3em 1.5em;
    width: 80%;
    margin-bottom: 1%;

    background-color: var(--clr-dark);
}

.dashboard__header--search,
.dashboard__header--helpsetting,
.dashboard__user__detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 3rem;
    gap: 1rem;
    margin-right: 2%;
}

.imgProperty{
    max-width: 40px;
    border-radius: 50%;
}

.dashboard__icon{
    max-width: 30px;
    transition: 500ms;
    
}

.searchicon{
    max-width: 20px;
}

.dashboard__icon:hover{
    transform: scale(1.1);
}


/* ********************************************************************************************************* */
/* ///////////////////////////////  REAL DATA AREA TOP TITLE AND TWO BUTTON ROW//////////////////////////// */
.data__area__top--fare--rate--button,
.data__area--top{
    margin-top:1%;
    overflow: hidden;
}

.data__area__top__fare__rate,
.data__area__top--title--date{
    float: left;
    width: 70%; /* adjust width to your preference */
}

.data__area--top--button,
.data__area__top--fare--rate--button{
    float: right;
    width: 30%; /* adjust width to your preference */
}

.data__area__top--title{
    font-size: 2rem;
}


/* ********************************************************************************************************* */
/* ///////////////////////////////  DATA COUNT AREA     /////////////////////////////////////////////////// */
.data__count--area{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-areas: 
        "one two three four"
    ;

    /* background-color: lightblue; */
    margin-top: 2%;
    margin-right: 5%;
}

.data__count__area--totalRiders{
    grid-area: one;
    /* background-color: aqua; */
}

.data__count__area--totalBikes{
    grid-area: two;
    /* background-color: blueviolet */
}

.data__count__area--totalDockingAreas{
    grid-area: three;
    /* background-color: green; */
}

.data__count__area--activeReports{
    grid-area: four;
    /* background-color: yellow; */
}

.cardd{
    margin: 0% 2%;
    border-radius: 10px;
    padding: 2rem 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #D9D9D9;

    text-align: center;
    justify-content: center;

    border: 2px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


/* **************************************************************************************************************** */
/* //////////////////////////////   GRAPH DATA AREA //////////////////////////////////////////////////////////////// */

.graphs-Area1{
    margin-top:3%;
    overflow: hidden; 
    margin-right: 4%;
}

.top_left-g{
    float: left;
    width: 20%; /* adjust width to your preference */
}

.top_righ-g{
    float: right;
    width: 80%; /* adjust width to your preference */
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* #form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9998;
    display: none;
  }
  
#form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}
  
#form-popup label, #form-popup input, #form-popup button {
    display: block;
    margin-bottom: 10px;
}
  
#form-popup button {
    margin-top: 20px;
}
  
.blurred {
    filter: blur(5px);
}
   */
/*//////////////////////////*/
/* 
body.blurred {
    filter: blur(5px);
}
  
#form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}
  
#form-popup label, #form-popup input, #form-popup button {
    display: block;
    margin-bottom: 10px;
  }
  
#form-popup button {
    margin-top: 20px;
  }
  
#form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9998;
    display: none;
} */

/* ///////////////////////////////////////////////////////////////// */
body.blurred {
    filter: blur(5px);
}
  
#form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}
  
#form-popup label, #form-popup input, #form-popup button {
    display: block;
    margin-bottom: 10px;
}
  
#form-popup button {
    margin-top: 20px;
}
  
#form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9998;
    display: none;
}
  
  